body,
#root {
  display: flex;
  align-items: center;
  text-align: center;
}

html,
body {
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  height: 100%;
  justify-content: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.board--container {
  display: flex;
  flex-direction: column;
}

.board--row {
  display: flex;
}

.cell {
  border: 1px #333 solid;
  display: flex;
  padding: 0.5rem;
  min-width: 2rem;
}

.cell + .cell {
  border-left: 0 none;
}

.cell::hover  {
  cursor: pointer;
}

.cell--hit {
  background: url("/assets/Hit.png") center center contain;
  border: 2px red solid;
}
